<app-content-window>
    
        <h1 class="text-3xl font-semibold text-center mb-8">Bem-vindo à Página Inicial</h1>

        <div class="grid grid-cols-2 gap-4 p-8 items-center justify-center">

            <div class="flex flex-col bg-white rounded-lg p-6 gap-4 shadow-md">
                <h2 class="text-xl font-semibold mb-4">Sobre Nós</h2>
                <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna.</p>
                <app-shared-button title="Veja Mais"></app-shared-button>
            </div>

            <div class="flex flex-col bg-white rounded-lg p-6 gap-4 shadow-md">
                <h2 class="text-xl font-semibold mb-4">Sobre Nós</h2>
                <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna.</p>
                <app-shared-button title="Veja Mais"></app-shared-button>
            </div>

            <div class="flex flex-col bg-white rounded-lg p-6 gap-4 shadow-md">
                <h2 class="text-xl font-semibold mb-4">Sobre Nós</h2>
                <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna.</p>
                <app-shared-button title="Veja Mais"></app-shared-button>
            </div>

            <div class="flex flex-col bg-white rounded-lg p-6 gap-4 shadow-md">
                <h2 class="text-xl font-semibold mb-4">Sobre Nós</h2>
                <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna.</p>
                <app-shared-button title="Veja Mais"></app-shared-button>
            </div>

        </div>
</app-content-window>