<app-content-window>

    <h1 class="text-3xl font-semibold text-center mb-2 ">Painel</h1>

    <div class="flex flex-col items-center justify-center gap-4 w-screen">

        <div class="flex gap-4" >
            <input [(ngModel)]="newTaskName" class="border border-blue-500 rounded-md w-50 pl-2" type="text" placeholder="Nova tarefa">
            <button (click)="addTask()" class="bg-blue-700 text-white p-2 rounded-md">Adicionar tarefa</button>
        </div>

        <div *ngFor="let item of items" class="w-full text-3xl flex items-center justify-between gap-3 border-b pb-2 h-fit" [ngClass]="{'line-through text-green-600': item.completed, 'text-red-600': !item.completed}">
            <span class="flex w-full h-fit text-wrap break-word">{{item.name}}</span>
            <input type="checkbox" class="h-10 w-10 border border-gray-300 rounded-md" (change)="taskDone(item)">
        </div>
    </div>

</app-content-window>
