<app-content-window>
    <form class="flex flex-col  items-center gap-4" action="">
        <input class="bg-[#EEEEEE] flex h-10 w-48 pl-4 rounded-md" type="text" placeholder="Nome" name="" id="">
        <input class="bg-[#EEEEEE] flex h-10 w-48 pl-4 rounded-md" type="text" placeholder="E-mail" name="" id="">
        <input class="bg-[#EEEEEE] flex h-10 w-48 pl-4 rounded-md" type="password" placeholder="Senha" name="" id="">
        <input class="bg-[#EEEEEE] flex h-10 w-48 pl-4 rounded-md" type="password" placeholder="Corfirmar senha" name="" id="">
    </form>
    <app-botao type="submit" title="Cadastrar"></app-botao>
</app-content-window>